<div>
    <h2 id="page-heading">
        <span jhiTranslate="islotrApp.expedition.home.title">Expeditions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-expedition-lotr" [routerLink]="['/expedition-lotr/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="islotrApp.expedition.home.createLabel">
            Create new Expedition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="expeditions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="islotrApp.expedition.complexity">Complexity</span></th>
            <th><span jhiTranslate="islotrApp.expedition.dispatchTime">Dispatch Time</span></th>
            <th><span jhiTranslate="islotrApp.expedition.deadLine">Dead Line</span></th>
            <th><span jhiTranslate="islotrApp.expedition.rate">Rate</span></th>
            <th><span jhiTranslate="islotrApp.expedition.unit">Unit</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expedition of expeditions ;trackBy: trackId">
                <td><a [routerLink]="['/expedition-lotr', expedition.id, 'view' ]">{{expedition.id}}</a></td>
                <td jhiTranslate="{{'islotrApp.Complexity.' + expedition.complexity}}">{{expedition.complexity}}</td>
                <td>{{expedition.dispatchTime | date:'medium'}}</td>
                <td>{{expedition.deadLine | date:'mediumDate'}}</td>
                <td>{{expedition.rate}}</td>
                <td>
                    <div *ngIf="expedition.unitId">
                        <a [routerLink]="['../unit-lotr', expedition.unitId , 'view' ]" >{{expedition.unitId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/expedition-lotr', expedition.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/expedition-lotr', expedition.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'expedition-lotr', { outlets: { popup: expedition.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
