<div>
    <h2 id="page-heading">
        <span jhiTranslate="islotrApp.unit.home.title">Units</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-unit-lotr" [routerLink]="['/unit-lotr/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="islotrApp.unit.home.createLabel">
            Create new Unit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="units">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="islotrApp.unit.hireDate">Hire Date</span></th>
            <th><span jhiTranslate="islotrApp.unit.biography">Biography</span></th>
            <th><span jhiTranslate="islotrApp.unit.numberOfTeeth">Number Of Teeth</span></th>
            <th><span jhiTranslate="islotrApp.unit.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let unit of units ;trackBy: trackId">
                <td><a [routerLink]="['/unit-lotr', unit.id, 'view' ]">{{unit.id}}</a></td>
                <td>{{unit.hireDate | date:'mediumDate'}}</td>
                <td>{{unit.biography}}</td>
                <td>{{unit.numberOfTeeth}}</td>
                <td>
                    {{unit.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/unit-lotr', unit.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/unit-lotr', unit.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'unit-lotr', { outlets: { popup: unit.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
